@model MovieStore.Models.Review

@{
    ViewData [ "Title" ] = "Edit";
}
<link rel="stylesheet" href="~/css/Rating.css">
<link rel="stylesheet" href="~/css/Dashboard/accordion.css">

<link rel="stylesheet" href="~/css/multiselect.css">

<script src="~/js/Editform.js"></script>
<div class="container">

    <form class="well form-horizontal" asp-action="Edit" id="contact_form">
        <input type="hidden" asp-for="Id" />

        <fieldset>

            <!-- Rating input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Rating</label>
                <div class="col-md-4 inputGroupContainer">

                    <div id="half-stars-example">
                        <div class="rating-group">
                            <input class="rating__input rating__input--none" checked asp-for="Rating" id="rating2-0" value="0" type="radio">
                            <label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>

                            <label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-05" value="0.5" type="radio">

                            <label aria-label="1 star" class="rating__label" for="rating2-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-10" value="1" type="radio">

                            <label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-15" value="1.5" type="radio">

                            <label aria-label="2 stars" class="rating__label" for="rating2-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-20" value="" type="radio">

                            <label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-25" value="2.5" type="radio">

                            <label aria-label="3 stars" class="rating__label" for="rating2-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-30" value="3" type="radio">

                            <label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-35" value="3.5" type="radio">

                            <label aria-label="4 stars" class="rating__label" for="rating2-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-40" value="4" type="radio">

                            <label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-45" value="4.5" type="radio">

                            <label aria-label="5 stars" class="rating__label" for="rating2-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-50" value="5" type="radio">

                            <label aria-label="5.5 stars" class="rating__label rating__label--half" for="rating2-55"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-55" value="5.5" type="radio">

                            <label aria-label="6 stars" class="rating__label" for="rating2-60"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-60" value="6" type="radio">

                            <label aria-label="6.5 stars" class="rating__label rating__label--half" for="rating2-65"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-65" value="6.5" type="radio">

                            <label aria-label="7 stars" class="rating__label" for="rating2-70"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-70" value="7" type="radio">

                            <label aria-label="7.5 stars" class="rating__label rating__label--half" for="rating2-75"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-75" value="7.5" type="radio">

                            <label aria-label="8 stars" class="rating__label" for="rating2-80"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-80" value="8" type="radio">

                            <label aria-label="8.5 stars" class="rating__label rating__label--half" for="rating2-85"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-85" value="8.5" type="radio">

                            <label aria-label="9 stars" class="rating__label" for="rating2-90"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-90" value="9" type="radio">

                            <label aria-label="9.5 stars" class="rating__label rating__label--half" for="rating2-95"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-95" value="9.5" type="radio">

                            <label aria-label="10 stars" class="rating__label" for="rating2-100"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" asp-for="Rating" id="rating2-100" value="10" type="radio">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Headline input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Headline</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input asp-for="Headline" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Content input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Content</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea asp-for="Content" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!-- Published input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Published</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input asp-for="Published" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Save <span class="glyphicon glyphicon-send"></span></button>
                    <a class="buttonCRUD" href='javascript:history.go(-1)'>Return</a>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<script src="~/js/multiselect.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
}
