@model MovieStore.Models.User
@using Microsoft.AspNetCore.Http

@{
    ViewData [ "Title" ] = "Edit";
}

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
}

<script src="~/js/Editform.js"></script>
<div class="container">

    <form class="well form-horizontal" asp-action="Edit" id="contact_form">
        <fieldset>
            <!-- Username input-->

            <div class="form-group">
                <label class="col-md-4 control-label">UserName</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="UserName" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Password input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="Password" class="form-control" />

                    </div>
                </div>
            </div>

            <!-- Email input-->

            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- First Name input-->

            <div class="form-group">
                <label class="col-md-4 control-label">First Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Last Name input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Last Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Address input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Address</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input asp-for="Address" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Type checks -->
            <div class="form-group">
                <label class="col-md-4 control-label">Type</label>
                <div class="col-md-4">
                    @if ( Context.Session.GetString( "Type" ) != null )
                        if ( Context.Session.GetString( "Type" ) == "Admin" )
                            {
                            <div class="radio">
                                <label>
                                    <input type="radio" asp-for="Type" value="Admin" /> Admin
                                </label>
                            </div>
                            }
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Type" value="Customer" /> Customer
                        </label>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <a class="btn btn-warning" href='javascript:history.go(-1)'><span class="glyphicon glyphicon-arrow-left"></span>   </a>
                    <button type="submit" class="btn btn-warning">Save <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>