@model IEnumerable<MovieStore.Models.User>

@{
    ViewData [ "Title" ] = "Login";
}

<form asp-action="Login">
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" id="inlineFormInputGroup" name="username" placeholder="Enter your username...">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter your password...">
    </div>
    @*<div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember" value="true">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>*@
    <button type="submit" id="user-login" class="btn btn-primary">Submit</button>
</form>

<div>
    <a asp-controller="Users" asp-action="Register">Register</a>
</div>