@model MovieStore.Models.Movie

@{
    ViewData [ "Title" ] = "Edit";
}
<link rel="stylesheet" href="/resources/demos/style.css">

<link rel="stylesheet" href="~/css/Dashboard/accordion.css">
<script src="~/js/Editform.js"></script>
<div class="container">

    <form class="well form-horizontal" asp-action="Edit" id="contact_form">
        <input type="hidden" asp-for="Id" />

        <fieldset>
            <!-- Name input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- ReleaseDate input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Release Date</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="ReleaseDate" class="form-control" />

                    </div>
                </div>
            </div>

            <!-- Duration input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Duration</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="Duration" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Director input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Director</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="Director" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Poster input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Poster</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input asp-for="Poster" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Trailer input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Trailer</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input asp-for="Trailer" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- AverageRating input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Average Rating</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="AverageRating" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Genres input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Genres</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <fieldset>
                            <legend>Bed Type: </legend>
                            <label for="checkbox-nested-1">
                                2 Double
                                <input type="checkbox" name="checkbox-nested-1" id="checkbox-nested-1">
                            </label>
                            <label for="checkbox-nested-2">
                                2 Queen
                                <input type="checkbox" name="checkbox-nested-2" id="checkbox-nested-2">
                            </label>
                            <label for="checkbox-nested-3">
                                1 Queen
                                <input type="checkbox" name="checkbox-nested-3" id="checkbox-nested-3">
                            </label>
                            <label for="checkbox-nested-4">
                                1 King
                                <input type="checkbox" name="checkbox-nested-4" id="checkbox-nested-4">
                            </label>
                        </fieldset>
                    </div>
                </div>
            </div>

            <!-- Storyline checks -->

            <div class="form-group">
                <label class="col-md-4 control-label">Storyline</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea asp-for="Storyline" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Save <span class="glyphicon glyphicon-send"></span></button>
                    <a class="buttonCRUD" href='javascript:history.go(-1)'>Return</a>

                </div>
            </div>

        </fieldset>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
}
