@model IEnumerable<MovieStore.Models.Movie>

@{
    ViewData [ "Title" ] = "Index";
    }
    
<!-- banner -->
<div id="slidey" style="display:none;">
    <ul>
        @{
            foreach ( var movie in Model )
                {
                <li>
                    <img src="@movie.Poster" alt=" ">
                    <a class='title' asp-action="Details" asp-route-id="@movie.Id" style="color:white">@movie.Name</a> |
                    <p class='description'> @movie.Storyline</p>
                </li>
                }}
    </ul>
</div>
<script src="~/js/jquery.slidey.js"></script>
<script type="text/javascript">
    $("#slidey").slidey({
        interval: 8000,
        listCount: 5,
        autoplay: false,
        showList: true
    });
    $(".slidey-list-description").dotdotdot();
</script>
<!-- //banner -->