@model IEnumerable<MovieStore.Models.Movie>

@{
    ViewData [ "Title" ] = "Index";
    Layout = "_Layout2";
}

    @*<form asp-action="Search" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input id="searchBox" name="Name" autocomplete="off" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="spinner-border text-primary d-none" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="input-group-append">
                <button value="Search" class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>*@
    

<!-- banner -->
<div id="slidey" style="display:none;">
    <ul>
        @{
            foreach ( var movie in Model.ToList().Take(5) )
                {
                <li>
                    <img src="@movie.Poster" alt=" ">
                    <p class='title'>@movie.Name</p>
                    <p class='description'> @movie.Storyline</p>
                </li>
                }}
    </ul>
</div>
<script src="js/jquery.slidey.js"></script>
<script src="js/jquery.dotdotdot.min.js"></script>
<script type="text/javascript">
    $("#slidey").slidey({
        interval: 8000,
        listCount: 5,
        autoplay: false,
        showList: true
    });
    $(".slidey-list-description").dotdotdot();
</script>
<!-- //banner -->