<link rel="stylesheet" href="~/css/Error/noresults.css" type="text/css" media="all" />
<script type="text/javascript" src="~/js/noresults.js"></script>

<script></script>

<div class="empty-icon-container">
    <div class="animation-container">
        <div class="bounce"></div>
        <div class="pebble1"></div>
        <div class="pebble2"></div>
        <div class="pebble3"></div>
    </div>
    <div>
        <h2>0 results found</h2>
        <p>Sorry! We couldn't find any results.</p>
    </div>

</div>