.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

#map-container {
    padding: 56.25% 0 0 0;
    height: 0;
    position: relative;
}

#map-canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
